.button-name-tuple, .button-only-v1, .button-onlyicon-v1 {
    cursor: pointer;
}

.button-name-tuple:hover, .button-only-v1:hover {
    background-color: var(--greyblue_light);
    transition: background-color 0.3s ease;
}

.button-name-tuple:active, .button-only-v1:active {
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
}

.button-onlyicon-v1:active {
    transform: scale(0.9);
    transition: transform 0.1s ease-in-out;
}

.button-onlyicon-v2 {
    cursor: pointer;
}

.button-onlyicon-v2:hover {
    background-color: var(--dark);
    transition: background-color 0.3s ease;
}

.button-onlyicon-v2:active {
    transform: scale(0.9);
    transition: background-color 0.3s ease;
}

/* CARD */

.item-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-card-action:hover {
    background-color: var(--dark);
}

.button-card-action:active {
    transform: scale(0.95);
}

.button-card-action {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

