/*PROPERTIES HERE
---------------------------------
    display
    justify-content
    align-items
    padding
*/

.visual-bar-v1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.presenting-tuple {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-bar-v1 {
    ul {
        list-style: none;
        display: flex;
        gap: 30px;

        li a {
            color: white;
            text-decoration: none;
        }
    }
}

.lateral-content {
    padding: 20px;
}

.button-onlyicon-v1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button-onlyicon-v2 {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-name-tuple {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .label-for-tuple {
        text-wrap: wrap;
    }
}

.element-content {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.item-list-format {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.metadata-content {
    gap: 20px;
}

/* CARD */

.card-header {
    display: flex;
    align-items: center;
    gap: 10px;

    * {
        color: var(--greyblue_dark);
    }
}

.item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    gap: 5px;
    padding: 10px;
}

.button-card-action {
    padding: 10px 15px;
}

/* VIEW */
.view-section.list-mode {
    flex-direction: column;
    flex-wrap: nowrap;
    /* 🚫 NO queremos que haga wrap */
    align-items: flex-start;
    overflow-x: hidden;
    /* ✨ Previene desbordamiento horizontal */
}

.view-section.card-mode {
    flex-direction: row;
    flex-wrap: wrap;
    /* ✅ Esto es lo que queremos para tarjetas */
    justify-content: center;
    gap: 1rem;
}


.view-section.orientation-vertical .item-list-format {
    width: 100%;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.item-list-format,
.item-list-format #item-header {
    width: 100%;
}


.login-display{
    gap: 20px;
    padding: 50px;
}

.item-buttons-right {
    margin-left: auto;
    justify-content: flex-end;
}