@import url('../enviroment/color_variables.css');

.visual-bar-v1 {
    background-color: var(--dark);
    color: var(--blank);

    * {
        color: var(--blank);
    }
}

.lateral-content {
    background: var(--greyblue_dark);
}

.button-name-tuple {
    .button-onlyicon-v1 i {
        font-size: 35px;
        color: var(--blank);
    }
}

.button-only-v1 {
    .button-onlyicon-v1 i {
        font-size: 40px;
        color: var(--blank);
    }
}

.label-for-button {
    font-size: 20px;
}

/* BUTTON ONLY ICON */

.button-onlyicon-v1 {
    border-color: var(--transparent);
    background-color: var(--transparent);
}

.button-onlyicon-v2 {
    font-size: 15px;
    border-color: var(--greyblue_light);
    background-color: var(--greyblue_dark);
    color: var(--blank);
}

.item-list-format {
    background: var(--greyblue_light);
}

.metadata-content {
    h2 {
        color: var(--blank);
    }

    p {
        color: var(--dark);
    }
}

/* CARD */

.item-card {
    border: 1px solid var(--greyblue_dark);
    background-color: var(--greyblue_light);
}

.card-footer::-webkit-scrollbar {
    height: 8px;
}

.card-footer::-webkit-scrollbar-thumb {
    background-color: var(--greyblue_dark);
}

.card-footer::-webkit-scrollbar-track {
    background-color: var(--greyblue_light);
}

.button-card-action {
    font-size: 0.9rem;
    color: var(--blank);
    background-color: var(--greyblue_dark);
    border: none;
}

.metadata-item{
    list-style: none;
}